DATABASE_URL=jdbc:postgresql://localhost:5432/rra_tax_hand_book
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-gmail@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
APP_MAIL_FROM=noreply@example.com
